extends record

block plain
	.table-responsive
		table(class="table")
			tr 
				h4(style="text-align:center")周一至周日工作计划
			tr
				th 星期	#{data.plain[0].name}
			tr
				th 工作内容:	#{data.plain[0].content}
			tr 
				th 达成结果:	#{data.plain[0].result}
			tr
				th 完成情况:	#{data.plain[0].fcase}
			tr
				th 未完成原因:	#{data.plain[0].noReason}
			tr
				th 解决措施:	#{data.plain[0].measure}
			tr
				th 日期:		#{data.plain[0]._.time.format('YYYY年M月D日')}
				
		table(class="table")
			tr
				th 星期	#{data.plain[1].name}
			tr
				th 工作内容:	#{data.plain[1].content}
			tr 
				th 达成结果:	#{data.plain[1].result}
			tr
				th 完成情况:	#{data.plain[1].fcase}
			tr
				th 未完成原因:	#{data.plain[1].noReason}
			tr
				th 解决措施:	#{data.plain[1].measure}
			tr
				th 日期:		#{data.plain[1]._.time.format('YYYY年M月D日')}
				
		table(class="table")
			tr
				th 星期	#{data.plain[2].name}
			tr
				th 工作内容:	#{data.plain[2].content}
			tr 
				th 达成结果:	#{data.plain[2].result}
			tr
				th 完成情况:	#{data.plain[2].fcase}
			tr
				th 未完成原因:	#{data.plain[2].noReason}
			tr
				th 解决措施:	#{data.plain[2].measure}
			tr
				th 日期:		#{data.plain[2]._.time.format('YYYY年M月D日')}
				
		table(class="table")
			tr
				th 星期	#{data.plain[3].name}
			tr
				th 工作内容:	#{data.plain[3].content}
			tr 
				th 达成结果:	#{data.plain[3].result}
			tr
				th 完成情况:	#{data.plain[3].fcase}
			tr
				th 未完成原因:	#{data.plain[3].noReason}
			tr
				th 解决措施:	#{data.plain[3].measure}
			tr
				th 日期:		#{data.plain[3]._.time.format('YYYY年M月D日')}
				
		table(class="table")
			tr
				th 星期	#{data.plain[4].name}
			tr
				th 工作内容:	#{data.plain[4].content}
			tr 
				th 达成结果:	#{data.plain[4].result}
			tr
				th 完成情况:	#{data.plain[4].fcase}
			tr
				th 未完成原因:	#{data.plain[4].noReason}
			tr
				th 解决措施:	#{data.plain[4].measure}
			tr
				th 日期:		#{data.plain[4]._.time.format('YYYY年M月D日')}
				
		table(class="table")
			tr
				th 星期	#{data.plain[5].name}
			tr
				th 工作内容:	#{data.plain[5].content}
			tr 
				th 达成结果:	#{data.plain[5].result}
			tr
				th 完成情况:	#{data.plain[5].fcase}
			tr
				th 未完成原因:	#{data.plain[5].noReason}
			tr
				th 解决措施:	#{data.plain[5].measure}
			tr
				th 日期:		#{data.plain[5]._.time.format('YYYY年M月D日')}
				
		table(class="table")
			tr
				th 星期	#{data.plain[6].name}
			tr
				th 工作内容:	#{data.plain[6].content}
			tr 
				th 达成结果:	#{data.plain[6].result}
			tr
				th 完成情况:	#{data.plain[6].fcase}
			tr
				th 未完成原因:	#{data.plain[6].noReason}
			tr
				th 解决措施:	#{data.plain[6].measure}
			tr
				th 日期:		#{data.plain[6]._.time.format('YYYY年M月D日')}